/******************************************
*  Author : Audun Øhra
*  Created On : Mon May 28 2018
*  File : style.css
*******************************************/

@media (max-width: 767px) {

    .dad-container {
        margin: 20px 25px;
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "nav" "images";
    }

    .image {
        display: flex;
        background-size: cover;
        background-position: center;
        height: 86vw;
        width: 86vw;
        margin: 0px;
        margin-bottom: 15px;
    }

    #image-container {
        display: flex;
        flex-flow: column nowrap;
        max-width: 100%;
    }

    #z-index-0 {
        max-width: 50vw;
        margin: 0px;
        padding: 0px;
    }

    .white-box {
        position: absolute;
        top: 120px;
        width: 100vw;
        height: 230px;
    }

    .position-a {
        left: -2000px;
    }
}
@media (min-width: 768px) {

    .dad-container {
        margin: 25px 30px;
        display: grid;
        grid-template-columns: 300px, 1fr;
        grid-template-areas:
            "nav images";
    }

    #image-container {
        width: calc(97vw - 300px);
        height: calc(98vh - 80px);
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }

    .width-300px {
        min-width:300px;
    }

    .image {
        display: flex;
        background-size: cover;
        background-position: center;
    }

    .white-box {
        position: fixed;
        top: 120px;
        width: 290px;
        height: 800px;
    }

    .position-a {
        left: -290px;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
    text-transform: lowercase;
    color: #212529;
    margin: 0px;
    padding: 0px;
}

a {
    color: #212529;
    text-decoration: none;
}

a:hover {
    color: #bbbbbb;
}

.mark-text {
    text-decoration: line-through;
}

.margin-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#contact-info {
    grid-area: nav;
}

#image-container {
    grid-area: images;
    grid-gap: 10px;
}

.white-box {
    background-color: #fff;
    opacity: 1;
}

.position-b {
    left: 0px;
}

.margin-0-25 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.margin-25t-30 {
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
}

.reverse {
    color: #909090;
}

.reverse:hover {
    color: #212529;
}

.cursor-notallowed {
    cursor: not-allowed;
}

.pointer {
    cursor: pointer;
}

.black-bg-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200%;
    height: 200%;
    background-color: #212529;
    opacity: 0.8;
}

.z-index-2 {
    z-index: 2;
}

.z-index-1 {
    z-index: 1;
}

.z-index-0 {
    z-index: 0;
}

.z-index-neg {
    z-index: -50;
}

.video {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#screensize {
    z-index: -1000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}