/******************************************
*  Author : Author   
*  Created On : Mon May 28 2018
*  File : style.css
*******************************************/

.container {
    max-width: 97vw;
}

@media (min-width: 768px) {
    .row-5-gutter{
        margin-left: -5px;
        margin-right: -5px;
    }
    
    .col-5-middle-gutter{
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .col-5-left-gutter{
        padding-right: 5px;
        padding-left: 0px;
    }
    
    .col-5-right-gutter{
        padding-left: 5px;
        padding-right: 0px;
    }

    .padding-12-vwleftright {
        padding: 0px 15vw 0px 15vw;
    }
}

.padding-10-bottom {
    padding-bottom: 10px;
}

.padding-20-top {
    padding-top: 20px;
}

.padding-50-top {
    padding-top: 30px;
}

.padding-60-bottom {
    padding-bottom: 90px;
}

.padding-95-bottom {
    padding-bottom: 95px;
} 

.semi-title-text {
    padding: 3px 0px 0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}

.body-text {
    padding: 0px 20px 0px 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
}

a {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;
}

.mark-text {
    text-decoration: line-through;
}

.white-box {
    width: 150px;
    height: 50px;
    background-color: #ffffff;
}

.container-white-box {
    position: fixed;
    left: 16vw;
    top: 24px;
    z-index: 1;
}
.fixed-nav-1 {
    padding-left: 27px;
}
.fixed-nav-2 {
    padding-left: 6.5vw;
}