/******************************************
*  Author : Audun Øhra
*  Created On : Mon May 28 2018
*  File : style.css
*******************************************/

@media (max-width: 768px) {
    .image {
        width: 100vw;
        height: auto;
    }

}
@media (min-width: 768px) {

    .dad-container {
        margin: 25px 30px;
        display: grid;
        grid-template-columns: 300px, 1fr;
        grid-template-areas:
            "nav images";
    }

    .width-300px {
        min-width:300px;
    }

    .image {
        display: flex;
        background-size: cover;
        background-position: center;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
    text-transform: lowercase;
    color: #212529;
    margin: 0px;
    padding: 0px;
}

a {
    color: #212529;
    text-decoration: none;
}

a:hover {
    color: #bbbbbb;
}

.mark-text {
    text-decoration: line-through;
}

.margin-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#contact-info {
    grid-area: nav;
}

#image-container {
    grid-area: images;
    width: calc(97vw - 300px);
    height: calc(98vh - 80px);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
}

.white-box {
    position: fixed;
    top: 120px;
    background-color: #fff;
    opacity: 1;
    width: 290px;
    height: 800px;
}

.position-b {
    left: 0px;
}

.position-a {
    left: -290px;
}

.margin-0-25 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.margin-25t-30 {
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 30px;
}

.reverse {
    color: #909090;
}

.reverse:hover {
    color: #212529;
}

.cursor-notallowed {
    cursor: not-allowed;
}

polygon {
    cursor: pointer;
}